body{
    font-family: arial,sans-serif;
}
    
.draggable{
    margin-top:20px;
    border: 2px dashed black;
    width: 100px;
    padding:20px;
    text-align:center;    
}

.droppable{
    position: absolute;
    top: 20px;
    left:50%;
    border: 2px dashed grey;
    color:grey;
    height: 300px;
    width:300px;
    text-align:center;
}

.droppable span{
  position:relative;
  top: 140px;

}
